### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory

server/build/libs/server-0.0.1-SNAPSHOT.jar
